@{
    ViewData["Title"] = "About";
}

<h1 id="timer"></h1>

<script>
    setInterval(function () {
        $.ajax({
            url: "@Url.Action("Time")",
            context: document.body
        }).done(function (r) {
            $('#timer').html(r);
        });
    }, 1000);
</script>

@section Menu
{
    <div style="color:yellowgreen">Обязательная секция - Время</div>
}
